.card{
    width: 70%;
    height: 50vh;
    margin:80px auto;
    background-color: navy;
    color: gold;
    display: flex;
    flex-direction: column;
    img{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}